@import url(./css/main.css);
@import url(./css/header.css);
@import url(./css/footer.css);
body {
    background-color:rgb(209, 208, 206);  
}
header {
   padding: 20px;
   text-align: center;
   
}
.container {
   display:grid;
   width:30%;
   margin:10px 50px 10px 50px;
   margin-top: 100px;
   margin-bottom: 100px;
   grid-template-columns:20px repeat(7,1fr);
   grid-template-rows: 50px 350px 150px;
   grid-template-areas:
   "hd hd hd hd hd hd hd hd"
   
   "sa sa sa sa sa main main main"
   "ft ft ft ft ft ft ft ft ";
   /*padding: 6rem 4rem 5rem 4rem;*/
}
.box {
   display: flex;
   flex-shrink: initial;
   align-items: center;
   justify-content: center;
   border: 1px solid rgb(243, 240, 240);
   background: rgb(141, 149, 161);
}
.header {
   grid-area: hd;
}

.sidebar {
   grid-area: sa;
   text-align:left;
   padding: 10px;
}

.content {
   grid-area: main;
}

.content img {
   border-radius: 50%;
}

.footer {
   grid-area: ft;
   

}
